@font-face {
  font-family: 'Flux Architect';
  src: url( ../../3rd/fontsquirrel/Flux_Architect_Regular.woff ) format('woff');
}

@font-face {
  font-family: 'Flux Architect';
  font-weight: bold;
  src: url( ../../3rd/fontsquirrel/Flux_Architect_Bold.woff ) format('woff');
}

@font-face {
  font-family: 'Flux Architect';
  font-style: italic;
  src: url( ../../3rd/fontsquirrel/Flux_Architect_Italic.woff ) format('woff');
}

@font-face {
  font-family: 'Flux Architect';
  font-weight: bold;
  font-style: italic;
  src: url( ../../3rd/fontsquirrel/Flux_Architect_Bold_Italic.woff ) format('woff');
}

.flux {
  font-family: 'Flux Architect';
}


