@import 'classnames';
@import 'dimensions';
@import 'mixins';

$name: default;

$panel-border-radius: 5px;
$panel-shadow-radius: 8px;
$panel-shadow-xoffset: 2px;
$panel-shadow-yoffset: 3px;

$frame-border-radius: 5px;
$frame-shadow-radius: 8px;
$frame-shadow-xoffset: 2px;
$frame-shadow-yoffset: 3px;

$canvas-vignet-a1: 0;
$canvas-vignet-a2: .6;

@media screen {

.#{$slidle}.#{$theme}-#{$name} {
  
  background-color: #666;
  background-image: url( ../../png/texture-256.png );
  background-position: 50% 50%;
  
  .#{$canvas} {
    background-image: radial-gradient( ellipse farthest-corner, rgba( 16, 16, 16, $canvas-vignet-a1), rgba(0, 0, 0, $canvas-vignet-a2) );
    
    .#{$frame} {
      background-color: rgba( 255, 255, 255, 1 );
      border: 2px solid;
      border-radius: $frame-border-radius;
      border-top-color: #ccc;
      border-right-color: #999;
      border-bottom-color: #888;
      border-left-color: #bbb;
      color: #000;
      box-shadow: $frame-shadow-xoffset $frame-shadow-yoffset $frame-shadow-radius rgba( 0, 0, 0, 1 );
      
    }
    
    .#{$frame}:before {
      content: "";
      z-index: 1;
      position: absolute;
      top: 0;
      right: 0;
      left: 0;
      height: $frame-padding;
      background-image: linear-gradient( to top, rgba( 255, 255, 255, 0.5 ), #fff );
    }
    
    .#{$frame}:after {
      content: "";
      z-index: 1;
      position: absolute;
      right: 0;
      bottom: 0;
      left: 0;
      height: $frame-padding;
      background-image: linear-gradient( to bottom, rgba( 255, 255, 255, 0.5 ), #fff );
    }
    
  }
  
  .#{$panel} {
    box-shadow: $panel-shadow-xoffset $panel-shadow-yoffset $panel-shadow-radius rgba( 0, 0, 0, 0.618 );
    border-color: #fff #888 #777 #eee;
    border-radius: $panel-border-radius;
    background-color: #ccc;
    
    .#{$edit}, .#{$control} {
      
      .#{$button} {
        border-color: #eee #999 #888 #ddd;
        background-color: #ddd;
        background-image: linear-gradient( to bottom right, #eee, #ccc );
        color: #111;
        text-shadow: #fff 1px 1px 1px;
      }
      
      .#{$button}:first-child {
        border-top-left-radius: $panel-border-radius;
        border-bottom-left-radius: $panel-border-radius;
      }
      
      .#{$button}:last-child {
        border-top-right-radius: $panel-border-radius;
        border-bottom-right-radius: $panel-border-radius;
      }
  
      .#{$button}.#{$hover} {
        background-color: #eee;
        background-image: linear-gradient( to bottom right, #fff, #ddd );
        color: #000;
      }
      
      .#{$button}.#{$active} {
        background-color: #e8e8e8;
        background-image: linear-gradient( to bottom right, #eee, #fff );
        color: #222;
      }
      
      .#{$button}:disabled {
        background-color: #ccc;
        background-image: linear-gradient( to bottom right, #ddd, #bbb );
        color: #666;
      }
      
    }
    
  }
  
}

.#{$slidle}.#{$theme}-#{$name}.#{$editing} {
   
  .#{$canvas} {
    
    .#{$frame}:before {
      opacity: 0;
    }
    
    .#{$frame}:after {
      opacity: 0;
    }
    
  }
  
  .#{$panel} {
      
    .#{$edit} {
      
      .#{$button}:first-child {
        border-bottom-left-radius: 0;
      }
      
      .#{$button}:last-child {
        border-bottom-right-radius: 0;
      }
      
    }
    
    .#{$control} {
      
      .#{$button}:first-child {
        border-top-left-radius: 0;
      }
      
      .#{$button}:last-child {
        border-top-right-radius: 0;
      }
      
    }
  }
}

.#{$slidle}.#{$theme}-#{$name}.#{$fullscreen} {

  .#{$canvas} {
    
    .#{$frame} {
      border-radius: 0;
    }
    
  }
}

}
