// Classnames
$slidle: slidle;
$theme: theme;
$fullscreen: fullscreen;
$canvas: canvas;
$panel: panel;
$control: control;
$frame: frame;
$edit: edit;
$viewer: viewer;
$editor: editor;
$previous: previous;
$current: current;
$next: next;
$hide: hide;
$button: button;
$glyph: glyph;
$hover: hover;
$active: active;
$left: left;
$center: center;
$right: right;
$justify: justify;
