// Dimensions

$slidle-min-width: 320px;
$slidle-min-height: 320px;

// Width and of the panel, and its margin to the container's edge
$panel-width: 270px;
$panel-height: 36px;
$panel-margin: 12px;

$frame-margin: 30px;
$frame-padding: 24px;
